<%= provide(:title, "Sign up") %>
<div class="reg">
<div class="row">
<h1>Sign up</h1>
<p>
<%= form_for(@user) do |u| %>
             <%= u.label :name %>
<%= u.text_field :name %>
<%= u.label :email %>
<%= u.text_field :email %>
<%= u.label :password %>
<%= u.password_field :password %>
<%= u.label :password_confirmation, "Confirm" %><br>
<%= u.password_field :password_confirmation %><br>
<%= u.submit "Register",class: "regimg" %>
</p>
<% end %>
</div>
</div>
<div class="right">
	</div>
