<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar navbar-white">
      <div class="container">
        <%= link_to image_tag("daniilty.png", alt: "Logo"),'https://github.com/daniilty', id: "logo" %>
        <nav>
          <ul>
            <li><%= link_to image_tag("hom.png", alt: "Home"), '/static_pages/home' %></li>
            <li><%= link_to image_tag("help.png", alt: "Help"), '/static_pages/help' %></li>
            <li><%= link_to image_tag("sin.png", alt: "Sign in"), '/static_pages/sign' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |mtype,m| %>
        <div class="alert-<%= mtype %>"><%= m %></div>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
